* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

body {
    background-image: url("img/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

.container-divNav {
    margin: 0 auto 0 auto;
    overflow: hidden;
    padding: 0px;
}

.divNav {
    display: block;
    margin-top: 20px;
    height: 100%;
    position: relative;
}

.divNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.divNav li {
    display: block;
    overflow: hidden;
    margin: 0;
    height: 100%;
    width: 100%;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

#ruteButton {}

.divNav a {
    float: right;
    font-family: 'Fjalla One';
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #dadbcb;
    padding: 15px 30px;
    background-color: rgba(51, 0, 0, 0.6);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 25px;
}

.divNav a:hover {
    color: white;
    background-color: rgba(51, 0, 0, 0.8);
    transition-duration: 50ms;
    text-align: center;
    transform: scale(1.1);
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}

.content {
    margin: 0px auto 0 auto;
    box-sizing: border-box;
    padding: 50px 50px 50px 50px;
    border-radius: 10px;
    background-color: rgba(218, 219, 203, 0.8);
    border: 3px solid rgba(218, 219, 203, 1);
    overflow: hidden;
    color: #330000;
    /* color: #663300; */
    box-shadow: 7px 7px 12px black;
    animation-name: goUp;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
}

@keyframes goUp {
    from {
        margin-top: 800px;
    }
    to {
        margin-top: 0px;
    }
}

.content h1 {
    font-family: 'DM Serif Text';
    margin-bottom: 20px;
    font-size: 3em;
}

.content p {
    font-family: 'DM Serif Text';
    font-size: 1.2em;
}

.tocke {
    padding: 30px 100px 0 100px;
}

.tocke ul {
    line-height: 2em;
    font-size: 1.2em;
}

.tocke li {
    line-height: 1.5em;
    font-family: 'DM Serif Text';
}

@media only screen and (max-width: 1281px) {
    .content {}
    .content h1 {
        font-size: 2.3em;
    }
}

@media only screen and (max-width: 1007px) {
    .content {}
    .content h1 {
        font-size: 2.2em;
    }
    .content p {
        font-size: 1em;
    }
    .tocke {
        margin-top: 15px;
        padding: 15px 50px;
    }
    .tocke ul {
        font-size: 1em;
    }
    .divNav a:hover {
        transition-duration: 50ms;
        transform: scale(1.05);
    }
}

@media only screen and (max-width: 601px) {
    .divNav {
        margin-top: 0;
        padding: 20px;
    }
    .divNav li {
        max-width: 85%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .divNav a {
        max-width: 80%;
        margin: 0 auto;
        border-radius: 25px;
        background-color: rgba(51, 0, 0, 0.8);
    }
    #ruteButton {
        margin: 0 auto;
    }
    .content {
        border-radius: 0px;
        margin-top: 0px;
        border-left: none;
        border-right: none;
        padding: 30px 15px;
    }
    .showMobile {
        visibility: visible;
    }
}