*{margin:0;
    padding: 0;}

body{
    background-image: url("img/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

.top-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu-logo{
    float: left;
    font-family: 'Fjalla One';
    font-size: 40px;
    color: #dadbcb;
    padding: 20px 20px;
}

.nav-link a{
    display: block;
    float: right;
    font-family: 'Fjalla One';
    text-decoration: none;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    text-decoration: none;
    color: #dadbcb;
    margin-top: 15px;
    padding: 20px 20px 5px 20px;
}

.nav-link a:hover{
    color: white;
    font-size: 25px;
    border-bottom: 2px solid white;
    padding: 20px 17px 5px 17px;
}


.content{
    margin: 150px auto 0 auto;
    box-sizing: border-box;
    padding: 50px;
    border-radius: 10px;
 /*   border: 1px solid white; */
    max-width: 950px;
    max-height: 800px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    color: #dadbcb;
    box-shadow: 7px 7px 12px black;
}

.content h3{
    font-size: 1.8em;
    margin-bottom: 50px;
}

.content p{
    margin-bottom: 10px;
    font-size: 1.3em;
    line-height: 1.2em;
}

.flexbox{
    display: flex;
    justify-content: space-between;
}

.map-container{
    position: relative;
    top: 100px;
    max-width: 300px;
    height: 300px;
    border: 2px solid white;
    overflow: hidden;
    
}

#map{
    margin-bottom: -6px;
}

@media only screen and (max-width: 1280px){
    .content{
        margin-top: 50px;
    }

    .map-container{
        top:150px;
        max-width: 250px;
        max-height: 250px;;
    }
    
}
