* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

body {
    background-image: url("img/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.top-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 20px 0;
    overflow: hidden;
}

#menu-logo {
    font-family: 'Great Vibes';
    font-size: 4vw;
    color: #dadbcb;
    padding: 20px 30px;
    text-decoration: none;
}

#menu-logo:hover {
    color: white;
    transform: scale(1.05);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.menuBlock {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1.5;
    margin-right: 10px;
}

.menuBlock hr{
    display: none;
    border: 1px solid #dadbcb;
}

#meniIcon {
    display: none;
}

#menuLinks {
    display: flex;
    flex-direction: row;
}

.nav-link a {
    display: block;
    font-family: 'Fjalla One';
    text-decoration: none;
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
    text-decoration: none;
    color: #dadbcb;
    padding: 20px 20px 20px 20px;
}

.nav-link a:hover {
    color: white;
    transform: scale(1.1);
    /*  border-bottom: 2px solid white; */
}

.content {
    position: relative;
    margin: 100px auto 0 auto;
    box-sizing: border-box;
    padding: 50px;
    border-radius: 10px;
    /*   border: 1px solid white; */
    max-width: 950px;
    background-color: rgba(218, 219, 203, 0.8);
    border: 3px solid rgba(218, 219, 203, 1);
    overflow: hidden;
    color: #330000;
    box-shadow: 7px 7px 12px black;
    animation-name: goUp;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
}

@keyframes goUp {
    from {
        top: 800px;
    }
    to {
        top: 0px;
    }
}

.content h3 {
    font-family: 'DM Serif Text';
    font-size: 3.5vw;
    margin-bottom: 30px;
}

.content p {
    font-family: 'DM Serif Text';
    margin-bottom: 10px;
    font-size: 1.3em;
    line-height: 1.2em;
}

.flexbox {
    display: flex;
    justify-content: space-between;
}

.map-container {
    position: relative;
    top: 100px;
    max-width: 300px;
    height: 300px;
    border: 3px solid #330000;
    overflow: hidden;
}

#map {
    margin-bottom: -6px;
}

.footer {
    position: absolute;
    bottom: 0;
    margin-top: 50px;
    width: 100%;
    padding: 25px 20px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
}

.footerTextbox {
    max-width: 300px;
    float: left;
    padding: 0px;
    color: #dadbcb;
    text-align: left;
    margin-top: 20px;
}

.footerTextbox h6 {
    font-family: 'Great Vibes';
    font-size: 2.5vw;
}

.footerTextbox p {
    line-height: 1.5;
}

.wrapper {
    max-width: 950px;
    margin: 0 auto;
}

@media only screen and (max-width: 1280px) {
    
    #page-container {
        position: relative;
        min-height: 100vh;
    }

    .content-wrap{
       /* padding-bottom: 2.5em; */
    }
    
    #menu-logo {
        font-size: 4.5vw;
    }
    .nav-link a {
        font-size: 1.7vw;
    }
    .content {
        margin-top: 30px;
    }
    .map-container {
        top: 150px;
        max-width: 250px;
        max-height: 250px;
    }
    .footer {
        position: relative;
        top: 0;
    }
}

@media only screen and (max-width: 1007px) {
    #menu-logo {
        font-size: 5.8vw;
    }
    .nav-link a {
        font-size: 2.5vw;
        padding: 20px 10px;
    }
    .content {
        margin-top: 15px;
        max-width: 640px;
    }
    .box2 {
        display: flex;
        flex-direction: column;
    }
    .map-container {
        position: relative;
        bottom: 0px;
        max-width: 200px;
        min-height: 150px;
        height: 200px;
    }
}

@media only screen and (max-width: 601px) {
    body {
        background-image: none;
        overflow-x: hidden;
    }
    .background {
        background-image: url("img/back.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 53%;
        background-position-y: 0px;
        background-attachment: fixed;
        max-width: 100%;
        overflow-x: hidden;
        scrollbar-base-color: black;
        scrollbar-color: black;
        scrollbar-darkshadow-color: black;
        scrollbar-track-color: black;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
    }

    .content-wrap{
      /*  padding-bottom: 2.5em; */
    }

    #menuLinks {
        display: none;
        flex-direction: column;
    }

    .menuBlock hr{
        display: block;
    }

    .menuBlock {
        display: flex;
        flex-direction: row;
        margin: 0;
    }
    #menu-logo {
        padding: 0px 10px 0px 10px;
        font-size: 8.5vw;
    }
    .top-nav ul {
        display: flex;
        flex-direction: column;
        background-color: #330000;
        padding: 15px 0 10px 0px;
        align-items: center;
    }
    .top-nav li {
        width: 100%;
    }
    #menuLinks {
        display: none;
        flex-direction: column;
        margin-top: 15px;
    }
    #menuLinks a {
        padding: 10px 75px;
    }
    .menuBlock {
        display: flex;
        flex-direction: row;
        margin: 0;
    }
    #menu-logo {
        padding: 0px 10px 0px 10px;
        font-size: 8.5vw;
    }
    .top-nav ul {
        display: flex;
        flex-direction: column;
        background-color: #330000;
        padding: 15px 0 10px 0px;
    }
    .top-nav li {
        width: 100%;
    }
    #meniIcon {
        display: block;
        position: absolute;
        top: 10px;
        right: 0;
        width: 50px;
        margin-right: 10px;
    }
    #meniIcon a {
        display: block;
        padding: 10px 15px;
        text-align: center;
    }
    .nav-link a {
        padding: 10px 0;
        font-size: 5vw;
    }
    .divNav li {
        max-width: 85%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .divNav a {
        max-width: 80%;
        margin: 0 auto;
        border-radius: 25px;
        background-color: rgba(51, 0, 0, 0.8);
    }
    #ruteButton {
        margin: 0 auto;
    }
    .content {
        border-radius: 0px;
        margin-top: 0px;
        border-left: none;
        border-right: none;
        padding: 30px 20px;
    }
    .flexbox {
        flex-direction: column;
    }
    .box2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 25px;
    }
    .map-container {
        display: block;
        position: inherit;
    }
    .content h3 {
        font-size: 2em;
    }
    .content p {
        font-size: 1em;
    }

    .footer{
        margin-top: 0;
    }
}

