* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

body {}

.content {
    position: relative;
    margin: 100px auto 0 auto;
    box-sizing: border-box;
    padding: 50px;
    border-radius: 10px;
    /*   border: 1px solid white; */
    background-color: rgba(194, 173, 162, 0.8);
    border: 3px solid rgba(194, 173, 162, 1);
    overflow: hidden;
    color: rgba(41, 38, 37, 1);
    box-shadow: 7px 7px 12px black;
    animation-name: goUp;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
}

@keyframes goUp {
    from {
        top: 800px;
    }
    to {
        top: 0px;
    }
}

.content h3 {
    font-family: 'DM Serif Text';
    font-size: 3.5rem;
    margin-bottom: 30px;
}

.content p {
    font-family: 'DM Serif Text';
    margin-bottom: 10px;
    font-size: 1.4rem;
    line-height: 1.2em;
}

.content strong {
    font-size: 1.4rem;
}

.flexbox {
    display: flex;
    justify-content: space-between;
}

.map-container {
    position: relative;
    top: 100px;
    max-width: 300px;
    height: 300px;
    border: 3px solid rgba(41, 38, 37, 1);
    overflow: hidden;
    border-radius: 10px;
}

#map {
    margin-bottom: -6px;
}

@media only screen and (max-width: 1280px) {
    .content {
        margin-top: 30px;
    }
    .content h3 {
        font-family: 'DM Serif Text';
        font-size: 3.5rem;
        margin-bottom: 30px;
    }
    .content p {
        font-family: 'DM Serif Text';
        margin-bottom: 10px;
        font-size: 1.4rem;
        line-height: 1.2em;
    }
    .map-container {
        top: 150px;
        max-width: 250px;
        max-height: 250px;
    }
}

@media only screen and (max-width: 1007px) {
    .content {
        margin-top: 15px;
    }
    .content h3 {
        font-size: 2.4rem;
    }
    .content p {
        font-size: 1.1rem;
    }
    .content strong {
        font-size: 1.1rem;
    }
    .box2 {
        display: flex;
        flex-direction: column;
    }
    .map-container {
        position: relative;
        bottom: 0px;
        max-width: 200px;
        min-height: 150px;
        height: 200px;
    }
}

@media only screen and (max-width: 601px) {
    body {
        background-image: none;
        overflow-x: hidden;
    }
    #ruteButton {
        margin: 0 auto;
    }
    .content {
        border-radius: 0px;
        margin-top: 0px;
        border-left: none;
        border-right: none;
        padding: 30px 20px;
    }
    .flexbox {
        flex-direction: column;
    }
    .box2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 25px;
    }
    .map-container {
        display: block;
        position: inherit;
    }
    .content h3 {
        font-size: 2em;
    }
    .content p {
        font-size: 1em;
    }
}