* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.page-container {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    padding-bottom: 172px;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.background1 {
    background-image: url("img/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    scrollbar-base-color: black;
    scrollbar-color: black;
    scrollbar-darkshadow-color: black;
    scrollbar-track-color: black;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    position: relative;
}

.background2 {
    background-image: none;
    position: relative;
    min-height: calc(100vh - 150px);
    height: 100%;
}


/* Header */

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 20px 0;
    overflow: hidden;
}

#menu-logo {
    font-family: 'Great Vibes';
    font-size: 4vw;
    color: rgb(194, 173, 162);
    padding: 20px 30px;
    text-decoration: none;
}

#menu-logo:hover {
    color: white;
    transform: scale(1.05);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.menuBlock {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1.5;
    margin-right: 10px;
}

.menuBlock hr {
    display: none;
    border: 1px solid rgb(194, 173, 162);
    background-color: rgb(194, 173, 162);
}

#meniIcon {
    display: none;
}

#menuLinks {
    display: flex;
    flex-direction: row;
}

.nav-link a {
    display: block;
    font-family: 'Fjalla One';
    text-decoration: none;
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
    text-decoration: none;
    color: rgb(194, 173, 162);
    padding: 20px 20px 20px 20px;
}

.nav-link a:hover {
    color: white;
    transform: scale(1.1);
    /*  border-bottom: 2px solid white; */
}


/* Main */

main {
    margin-bottom: 50px;
}


/* Footer */

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 25px 0px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 50px;
}

.footerTextbox {
    float: left;
    padding: 0px;
    color: rgb(194, 173, 162);
    text-align: left;
}

.footerTextbox h6 {
    font-family: 'Great Vibes';
    font-size: 2.5em;
}

.footerTextbox p {
    line-height: 1.5;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

@media only screen and (max-width: 1366px) {
    .wrapper {
        max-width: 950px;
    }
    /* Header */
    #menu-logo {
        font-size: 4.5vw;
    }
    #menuLinks {
        display: flex;
        flex-direction: row;
    }
    .nav-link a {
        font-size: 1.7vw;
    }
    /* Main */
    /* Footer */
}

@media only screen and (max-width: 1007px) {
    .wrapper {
        max-width: 640px;
    }
    #menu-logo {
        font-size: 5.8vw;
    }
    #menuLinks {
        display: flex;
    }
    .nav-link a {
        font-size: 2.5vw;
        padding: 20px 10px;
    }
    /* .content{
    margin: 50px auto 0 auto;
    box-sizing: border-box;
    padding: 10px 30px 30px 30px;
    border-radius: 10px;
    max-width: 950px;
    max-height: 900px;
    color: white;
    background-color: rgba(0, 0, 0, 0.65);
    overflow: hidden;
}

*/
    /* Main */
    /* Footer */
    footer {
        padding: 30px 20px;
    }
}

@media only screen and (max-width: 601px) {
    body {
        background-position: 53%;
        background-position-y: 50px;
    }
    .page-container {
        padding-bottom: 0;
    }
    .background1 {
        background-position: 53%;
        background-position-y: 35px;
    }
    #menuLinks {
        display: none;
        flex-direction: column;
        margin-top: 15px;
    }
    #menuLinks a {
        padding: 10px 75px;
    }
    .menuBlock {
        display: flex;
        flex-direction: row;
        margin: 0;
    }
    #menu-logo {
        padding: 0px 10px 0px 10px;
        font-size: 8.5vw;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        background-color: #330000;
        padding: 15px 0 10px 0px;
    }
    .nav li {
        width: 100%;
    }
    #meniIcon {
        display: block;
        position: absolute;
        top: 10px;
        right: 0;
        width: 50px;
        margin-right: 10px;
    }
    #meniIcon a {
        display: block;
        padding: 10px 15px;
        text-align: center;
    }
    #menuLinks hr {
        display: block;
    }
    .nav-link a {
        padding: 10px 0;
        font-size: 5vw;
    }
    /* Main */
    main {
        margin-bottom: 0px;
    }
    /* Footer */
    footer {
        position: relative;
        margin-top: 0;
    }
    .footerTextbox h6 {
        font-size: 2em;
    }
}


/* Main */


/* Footer */