* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

body {}

.content {
    position: relative;
    margin: 70px auto 0 auto;
    box-sizing: border-box;
    padding: 50px 50px 50px 50px;
    border-radius: 10px;
    background-color: rgba(194, 173, 162, 0.9);
    overflow: hidden;
    color: #292625;
    box-shadow: 7px 7px 12px black;
    animation-name: goUp;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
}

@keyframes goUp {
    from {
        top: 800px;
    }
    to {
        top: 0px;
    }
}

.content h1 {
    font-family: 'DM Serif Text';
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 3.5rem;
}

.content p {
    font-family: 'DM Serif Text';
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 200;
}

.galleryGrid {
    margin-top: 50px;
}

.flexbox {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    width: 100%;
}

.imgContainer {
    display: block;
    position: relative;
    width: 25%;
    height: auto;
    /*border: 4px solid #dadbcb;*/
    background-color: #292625;
    box-shadow: 5px 5px 15px black;
    border-radius: 5px;
}

.imgContainer a {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.overlayTextBox {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);*/
    padding: 30px;
    border-radius: 5px;
}

.imgContainer h3 {
    text-align: center;
    color: white;
    font-family: 'DM Serif Text';
    font-size: 1.8rem;
    letter-spacing: 2px;
    line-height: 1.1em;
}

.flexbox img {
    /*rgba(255, 255, 255, 0.7)*/
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #292625;
}

.imgContainer:hover {
    transform: scale(1.03);
    transition-duration: 1;
    transition-timing-function: ease-in-out;
    /*border: 4px solid #330000;*/
    background-color: #292625;
    border-radius: 5px;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 1);
}

.imgContainer img:hover {
    border-radius: 5px;
}

.imgContainer:hover .overlay {
    display: block;
    border-radius: 5px;
}

.overlayContainer {
    border-radius: 5px;
}

.overlay {
    /* Sit on top of the page content */
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    background-color: rgba(41, 38, 37, 0.6);
    /* rgba(51, 0, 0, 0.6) */
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
    border-radius: 5px;
}

@media only screen and (max-width: 1366px) {
    .content {
        margin-top: 30px;
    }
    .content h1 {
        font-size: 2.3em;
    }
    .content p {
        font-size: 1.2em;
    }
    .imgContainer {
        max-width: 200px;
        max-height: 200px;
    }
    .imgContainer h3 {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 1007px) {
    .content {
        margin-top: 15px;
    }
    .wrapper {
        max-width: 640px;
    }
    .content h1 {
        font-size: 2em;
    }
    .content p {
        font-size: 1em;
    }
    .imgContainer {
        width: 28%;
    }
    .flexbox {
        display: flex;
        justify-content: space-between;
    }
    .imgContainer h3 {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 601px) {
    .content {
        border-radius: 0px;
        margin-top: 0px;
        border-left: none;
        border-right: none;
        padding: 30px 15px;
    }
    .galleryGrid {
        display: flex;
        flex-direction: row;
    }
    .flexbox {
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0 10px;
        box-sizing: border-box;
        width: 100%;
        align-items: center;
    }
    .imgContainer {
        display: block;
        width: 100%;
        margin: 5px 0;
        max-width: 200px;
        max-height: 200px;
    }
    .imgContainer a {
        display: block;
        height: 100%;
        border-radius: 5px;
        background-color: green;
    }
    .imgContainer img {
        height: 100%;
        margin-bottom: -5px;
    }
    .overlayContainer {
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 2;
        border-radius: 0;
    }
    .overlay {
        position: static;
        /* Sit on top of the page content */
        display: block;
        /* Hidden by default */
        width: 100%;
        /* Full width (cover the whole page) */
        height: 35%;
        /* Full height (cover the whole page) */
        background-color: rgba(51, 0, 0, 0.6);
        /* Black background with opacity */
        z-index: 2;
        /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer;
        /* Add a pointer on hover */
        border-radius: 0px 0px 5px 5px;
    }
    .overlayTextBox {
        padding: 5px 10px;
        font-size: 0.8em;
    }
}