* {
    margin: 0;
    padding: 0;
    scrollbar-color: rgba(128, 128, 128, 0.4) transparent;
    scrollbar-width: thin;
}

body {
    background-color: black;
    background-image: url("img/back.jpg");
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.top-nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

#menu-logo {
    margin-left: 10px;
    padding: 20px;
    float: left;
    font-family: 'Lobster';
    text-decoration: none;
    font-size: 3.5em;
    color: #dadbcb;
    text-shadow: 3px 3px 4px black;
}

.nav-link a {
    box-sizing: border-box;
    margin-top: 15px;
    padding: 20px 2% 5px 2%;
    display: block;
    float: right;
    font-family: 'Fjalla One';
    text-decoration: none;
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    color: #dadbcb;
    text-shadow: 2px 2px 3px black;
}

.nav-link a:hover {
    box-sizing: border-box;
    padding: 20px 2% 5px 2%;
 /*   border-bottom: 2px solid white; */
    color: white;
    transform: scale(1.2);
    transition-duration: 400ms;
}

.content {
    box-sizing: border-box;
    margin: 50px auto 0 auto;
    padding: 50px 50px 30px 50px;
    max-width: 1000px;
    max-height: 900px;
    overflow: hidden;
    color: #dadbcb;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 7px 7px 12px black;
}

.content h1 {
    margin-bottom: 20px;
    font-family: 'Lobster';
    font-size: 2.2em;
    text-shadow: 2px 2px 3px black; 
}

.content p {
    font-size: 1.1em;
    text-shadow: 0px 0px 15px black;
}

.flexbox {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.flexbox img {
    max-width: 200px;
    height: 200px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 1);
}

.footer {
    margin: 20px auto 0;
    width: 100%;
    height: 30px;
    overflow: hidden;
}

@media only screen and (max-width: 1280px) {
    #menu-logo{
        font-size: 2.5em;
    }
    
    .nav-link a{
        font-size: 1.4em;
    }
    .content {
        margin-top: 50px;
    }

}