* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    background-image: url("img/back.jpg");
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.top-nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

#menu-logo {
    margin-left: 10px;
    padding: 20px;
    float: left;
    font-family: 'Lobster';
    text-decoration: none;
    font-size: 3.5em;
    color: #dadbcb;
    text-shadow: 3px 3px 4px black;
}

.nav-link a {
    box-sizing: border-box;
    margin-top: 15px;
    padding: 20px 2% 5px 2%;
    display: block;
    float: right;
    font-family: 'Fjalla One';
    text-decoration: none;
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    color: #dadbcb;
    text-shadow: 2px 2px 3px black;
}

.nav-link a:hover {
    box-sizing: border-box;
    padding: 20px 2% 5px 2%;
 /*   border-bottom: 2px solid white; */
    color: white;
    transform: scale(1.2);
}

.content {
    box-sizing: border-box;
    margin: 70px auto 0 auto;
    position: center;
    padding: 10px 30px 30px 30px;
    max-width: 1000px;
    height: 800px;
    /* border: 1px solid white; */
    color: white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 7px 7px 12px black;
}

.content h1 {
    margin: 50px auto 60px auto;
    font-family: 'Fjalla One';
    text-align: center;
    color: #dadbcb;
    font-size: 2.4em;
    text-shadow: 2px 2px 3px black;
}

.groupButtons {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.columnButtons {
    box-sizing: border-box;
    width: 35%;
    display: flex;
    flex-direction: column;
}

.button {
    box-sizing: border-box;
    margin-bottom: 50px;
    padding: 0;
    width: 100%;
    height: auto;
    border-bottom: 5px solid rgba(90, 59, 33, 1);
    background-color: rgba(90, 59, 33, 0.5);
    font-family: 'Fjalla One';
    font-size: 1.6em;
    text-align: center;
    color: #dadbcb;
    text-decoration: none;
    text-shadow: 2px 2px 3px black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 1);
}

.button:hover {
    padding: 0;
    color: white;
    border-bottom: 5px solid #dadbcb;
    background-color: rgba(90, 59, 33, 0.7);
    transform: scale(1.05);
    transform-style: preserve-3d;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 1);
    transition-duration: 400ms;
}

.button img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.button p{
    padding: 5px 0;
}

/*
#kruh {
  /*  background-image: url("img/kruh.jpg");
    background-size: contain;
    background-repeat: no-repeat; 
}

#kruh:hover {
 /*   background-size: 105%;
    transition-duration: 60ms; 
}
/*
#pecivo {
    background-image: url("img/peciva.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#pecivo:hover {
    background-size: 105%;
    transition-duration: 60ms;
}

#slano {
    background-image: url("img/slano.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#slano:hover {
    background-size: 105%;
    transition-duration: 60ms;
}

#pizza {
    background-image: url("img/pizza.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

#pizza:hover {
    background-size: 105%;
    transition-duration: 60ms;
    margin-bottom: 10px;
}

#slatko {
    background-image: url("img/kroas.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#slatko:hover {
    background-size: 105%;
    transition-duration: 60ms;
}

#ostalapon {
    background-image: url("img/ostalapon.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

#ostalapon:hover {
    margin-bottom: 10px;
    background-size: 105%;
    transition-duration: 60ms;
}

*/

.footer {
    margin: auto 0;
    max-width: 950px;
    height: 30px;
    overflow: hidden;
}

@media only screen and (max-width: 1600px) {
#menu-logo{
    font-size: 2.5em;
}

.nav-link a{
    font-size: 1.4em;
}

    .content {
        margin-top: 30px;
        max-width: 950px;
        max-height: 490px;
    }

    .content h1{
        margin: 30px auto 40px;
    }

    .groupButtons{
        flex-direction: column;
    }

    .columnButtons {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .button{
        max-width: 30%;
        font-size: 1.4em;
    }

    .button p{
        padding: 2px 0;

    }
}