* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

body {}

.content {
    position: relative;
    margin: 70px auto 0 auto;
    box-sizing: border-box;
    padding: 50px 50px 50px 50px;
    border-radius: 10px;
    background-color: rgba(194, 173, 162, 0.85);
    overflow: hidden;
    color: rgb(49, 46, 43);
    box-shadow: 7px 7px 12px black;
    animation-name: goUp;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    border: 3px solid rgba(194, 173, 162, 1);
}

@keyframes goUp {
    from {
        top: 800px;
    }
    to {
        top: 0px;
    }
}

.content h1 {
    text-align: center;
    margin: 0px auto 10px auto;
    font-size: 3.5rem;
    font-family: 'DM Serif Text';
}

.content p {
    font-family: 'DM Serif Text';
    text-align: center;
    font-size: 1.4rem;
    margin-top: 10px;
    font-weight: bold;
}

#hrNaslovBottom {
    margin: 0 auto;
    width: 15%;
    border: 1px solid #292625;
    background-color: #292625;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    visibility: hidden;
}

.groupButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
}

.columnButtons {
    width: 40%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.overlay {
    /* Sit on top of the page content */
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    background-color: rgba(0, 0, 0, 0.07);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#buttonPonuda {
    width: 100%;
    background-color: rgba(41, 38, 37, 0.01);
    border-bottom: 5px solid #292625;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
    margin-bottom: 50px;
    color: #292625;
}

#buttonPonuda:hover {
    transform: scale(1.03);
    transition-duration: 60ms;
    transition-timing-function: ease-in-out;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
    border-bottom: 5px solid white;
    background-color: rgba(41, 38, 37, 0.6);
    color: white;
}

#buttonPonuda:hover h3 {
    color: white;
}

#buttonPonuda:hover .overlay {
    display: none;
}

#buttonPonuda a {
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
}

#buttonPonuda .imgContainer {
    position: relative;
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#buttonPonuda img {
    width: 100%;
    margin-bottom: -5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
}

#buttonPonuda h3 {
    width: 100%;
    font-family: 'Fjalla One';
    font-size: 1.8rem;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    margin-top: 0px;
    padding: 5px 0 5px 0;
    color: #292625;
}

.button {
    margin-bottom: 50px;
    padding: 130px 30px 0px 30px;
    width: 100%;
    height: auto;
    border-bottom: 5px solid #292625;
    background-color: rgba(41, 38, 37, 0.5);
    font-family: 'Fjalla One';
    font-size: 25px;
    text-align: center;
    color: rgba(194, 173, 162, 1);
    text-decoration: none;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 1);
    transition-duration: 60ms;
}

.button:hover {
    padding: 130px 30px 0px 30px;
    font-size: 30px;
    color: white;
    border-bottom: 5px solid rgba(194, 173, 162, 1);
    background-color: rgba(41, 38, 37, 0.7);
    transform: scale(1.05);
    transition-duration: 60ms;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 1);
    margin-bottom: 44px;
}

#kruh {
    background-image: url("img/kruh.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#kruh:hover {
    transform: scale(1.1);
    transition-duration: 60ms;
}

#pecivo {
    background-image: url("img/peciva.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#pecivo:hover {
    transform: scale(1.1);
    transition-duration: 60ms;
}

#slano {
    background-image: url("img/slano.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#slano:hover {
    transform: scale(1.1);
    transition-duration: 60ms;
}

#pizza {
    background-image: url("img/pizza.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

#pizza:hover {
    transform: scale(1.1);
    transition-duration: 60ms;
    margin-bottom: 10px;
}

#slatko {
    background-image: url("img/kroas.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#slatko:hover {
    transform: scale(1.1);
    transition-duration: 60ms;
}

#ostalapon {
    background-image: url("img/ostalapon.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

#ostalapon:hover {
    transform: scale(1.1);
    transition-duration: 60ms;
    margin-bottom: 10px;
    transition-timing-function: ease-in-out;
}

@media only screen and (max-width: 1366px) {
    .content {
        margin-top: 30px;
    }
    .content p {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 1007px) {
    .content {
        margin-top: 15px;
    }
    .content h1 {
        font-size: 2.4rem;
    }
    .content p {
        font-size: 1.1rem;
    }
    .columnButtons {
        width: 45%;
    }
    #buttonPonuda h3 {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 601px) {
    body {}
    .content {
        border-radius: 0px;
        margin-top: 0px;
        border-left: none;
        border-right: none;
        padding: 30px 15px;
    }
    .groupButtons {
        flex-direction: column;
        align-items: center;
    }
    .columnButtons {
        width: 80%;
    }
    .overlay {
        display: none;
    }
}