* {
    margin: 0;
    padding: 0;
    scrollbar-color: rgba(128, 128, 128, 0.4) transparent;
    scrollbar-width: thin;
}

body {
    background-image: url("../img/back.jpg");
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.top-nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

#menu-logo {
    margin-left: 10px;
    padding: 20px;
    float: left;
    font-family: 'Lobster';
    text-decoration: none;
    font-size: 3.5em;
    color: #dadbcb;
    text-shadow: 3px 3px 4px black;
}

.nav-link a {
    box-sizing: border-box;
    margin-top: 15px;
    padding: 20px 2% 5px 2%;
    display: block;
    float: right;
    font-family: 'Fjalla One';
    text-decoration: none;
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    color: #dadbcb;
    text-shadow: 2px 2px 3px black;
}

.nav-link a:hover {
    box-sizing: border-box;
    padding: 20px 2% 5px 2%;
 /*   border-bottom: 2px solid white; */
    color: white;
    transform: scale(1.2);
}

.container-divNav {
    margin: 40px auto 0 auto;
    padding: 0px;
    max-width: 1000px;
    height: 65px;
    overflow: hidden;
}

.divNav {
    margin-bottom: 0px;
    height: 100%;
    position: relative;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.divNav ul {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    list-style-type: none;
}

.divNav li {
    margin: auto 0;
    height: 100%;
    display: inline-block;
    overflow: hidden;
}

.divNav a {
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 15px 40px;
    height: 100%;
    display: inline-block;
    background-color: rgba(59, 37, 11, 0.5);
    font-family: 'Fjalla One';
    text-decoration: none;
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: none;
    color: #dadbcb;
    text-shadow: 2px 2px 3px black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#backButton a {
    margin-left: 40px;
}

#backButton a:hover {
    margin-left: 10px;
    padding: 15px 65px 15px 45px;
    background-color: rgba(59, 37, 11, 0.8);
    color: white;
    text-align: center;
    transition-duration: 500ms;
}

.content {
    box-sizing: border-box;
    margin: 0px auto 0px auto;
    padding: 20px 20px 10px 20px;
    max-width: 1000px;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    color: #dadbcb;
    border-radius: 10px;
    box-shadow: 7px 7px 12px black;
}

.scrollContainer {
    margin-left: 10px;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    border-radius: 15px;
    scrollbar-color: rgba(128, 128, 128, 0.4) transparent;
    scrollbar-width: thin;
}

.lokacijeDiv {
    margin-top: 17px;
    border: 2px solid black;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    box-shadow: 3px 3px 10px black;
}

.shopImg {
    display: block;
    width: 30%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.shopInfo {
    margin: auto 0 auto 0;
    padding: 0px 60px 0px 50px;
    width: 70%;
}

.shopInfo h2 {
    margin-bottom: 20px;
    font-family: 'Lobster';
    font-size: 2em;
    text-shadow: 2px 2px 3px black;
}

.shopInfo p {
    margin-bottom: 15px;
    font-size: 1.1em;
    text-shadow: 0px 0px 15px black;
}

.img-container {
    margin: auto;
    max-width: auto;
    opacity: 0.65;
    border-radius: 30px;
}

.img-container img {
    width: 400px;
    height: 400px;
    border: 0px solid rgba(255, 255, 255, 0.5);
    border-radius: 200px;
}

.footer {
    margin: auto 0;
    max-width: 950px;
    height: 30px;
    overflow: hidden;
}

@media only screen and (max-width: 1600px) {
    #menu-logo{
        font-size: 2.5em;
    }
    
    .nav-link a{
        font-size: 1.4em;
    }
    .content {
        max-height: inherit;
    }
    .scrollContainer {
        overflow: hidden;
    }
}