* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.container-divNav {
    margin: 0 auto 0 auto;
    overflow: hidden;
    padding: 0px;
}

.divNav {
    margin-bottom: 0px;
    height: 100%;
    position: relative;
    margin-left: 50px;
}

.divNav ul {
    list-style-type: none;
}

.divNav a {
    float: left;
    font-family: 'Fjalla One';
    text-decoration: none;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: #dadbcb;
    height: 100%;
    padding: 10px 40px;
    background-color: rgba(41, 38, 37, 0.6);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.divNav a:hover {
    color: white;
    background-color: rgba(41, 38, 37, 0.9);
    transition-duration: 300ms;
}

#buttonTop {
    border-top: 3px solid rgba(194, 173, 162, 1);
    border-right: 3px solid rgba(194, 173, 162, 1);
    border-left: 3px solid rgba(194, 173, 162, 1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    animation-delay: 0.8ms;
}

#buttonBottom {
    border-right: 3px solid rgba(194, 173, 162, 1);
    border-bottom: 3px solid rgba(194, 173, 162, 1);
    border-left: 3px solid rgba(194, 173, 162, 1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#backButton2Container {
    margin-bottom: 50px;
}

#backButton2 a {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main {
    margin-bottom: 0px;
}

.content {
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding: 30px 5vw;
    border-radius: 10px;
    /* border: 1px solid white; */
    background-color: rgba(194, 173, 162, 0.85);
    border: 3px solid rgba(194, 173, 162, 1);
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: rgba(128, 128, 128, 0.4) transparent;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
    color: #292625;
    /*box-shadow: 7px 7px 12px black;*/
    animation-name: goUp;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
}

@keyframes goUp {
    from {
        top: 800px;
    }
    to {
        top: 0px;
    }
}

.lokacijeDiv {
    display: flex;
    background-color: rgba(194, 173, 162, 0.8);
    margin-top: 17px;
    border-radius: 15px;
    z-index: 0;
    /* border: 2px solid #330000;*/
    box-shadow: 3px 3px 10px black;
}

.shopImg {
    display: block;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 35%;
}

.shopImg img {
    width: 100%;
    height: auto;
}

.shopInfo {
    margin: auto 0 auto 0;
    width: 65%;
    padding: 15px 20px 15px 50px;
    text-shadow: 0px 0px 1px black;
    font-family: 'DM Serif Text';
}

.shopInfo h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.shopInfo p {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.shopInfo strong {
    font-size: 1.2rem;
}

.floatLeft {
    float: left;
}

@media only screen and (max-width: 1280px) {
    .shopInfo h2 {
        font-size: 2em;
    }
    .shopInfo p {
        font-size: 1.1em;
    }
    .scrollContainer {
        overflow-y: hidden;
    }
}

@media only screen and (max-width: 1007px) {
    #backButton a {
        margin-left: 20px;
    }
    #backButton2 a {
        margin-left: 20px;
    }
    .content {
        margin-top: 0px;
    }
    .shopImg {
        width: 45%;
    }
    .shopInfo {
        width: 55%;
        box-sizing: border-box;
        padding: 15px;
    }
    .shopInfo h2 {
        font-size: 1.7em;
        margin-bottom: 20px;
    }
    .shopInfo p {
        margin-bottom: 10px;
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 601px) {
    .container-divNav {
        margin-left: 0px;
    }
    .divNav {
        margin-top: 0px;
        width: 100%;
        margin-left: 0;
    }
    .divNav a {
        width: 100%;
        box-sizing: border-box;
        border-radius: 0;
        padding: 15px 0;
    }
    #backButton2Container {
        margin-bottom: 0px;
    }
    #backbutton {
        margin-left: 0;
        border-radius: 0
    }
    #backbutton2 {
        margin-left: 0;
        border-radius: 0
    }
    #backButton a {
        margin-left: 0;
        border-radius: 0
    }
    #backButton2 a {
        margin-left: 0;
        border-radius: 0;
    }
    .content {
        border-radius: 0px;
        margin-top: 0px;
        border-left: none;
        border-right: none;
        padding: 30px 15px;
    }
    .lokacijeDiv {
        flex-direction: column;
        width: 100%;
    }
    .shopImg {
        width: 100%;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
    }
    .shopInfo {
        width: 100%;
    }
}